.NavigationPanel__list {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}

.NavigationPanel__item {
  padding-right: 2rem;

  list-style-type: none;
}

.NavigationPanel__link {
  text-decoration: none;

  color: var(--color-darken);
}
