.Game {
  display: flex;
  flex-wrap: wrap;

  margin: auto;
}

.Game__boxElem {
  display: flex;
  justify-content: center;

  width: 15rem;
  height: 15rem;
}

.Game__boxImage {
  width: auto;

/* width: 100%; */
  /* height: auto; */
  /* max-height: 100%; */
  max-width: 100%;
  max-height: 100%;
}

.Game__boxElem_inactive {
  opacity: 0.3;
}

.Game__boxElem_selected {
  box-sizing: border-box;

  border: 0.3rem solid var(--color-accent);
}
