.BaseSelect {
  display: flex;
}

.BaseSelect__select {
  position: relative;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10px' height='10px' viewBox='0 0 292.362 292.362'><path d='M286.935 69.377c-3.614-3.617-7.898-5.424-12.848-5.424H18.274c-4.952 0-9.233 1.807-12.85 5.424C1.807 72.998 0 77.279 0 82.228c0 4.948 1.807 9.229 5.424 12.847l127.907 127.907c3.621 3.617 7.902 5.428 12.85 5.428s9.233-1.811 12.847-5.428L286.935 95.074c3.613-3.617 5.427-7.898 5.427-12.847 0-4.948-1.814-9.229-5.427-12.85z' fill='#323f6e'/></svg>");
  background-repeat:no-repeat;
background-position: right;
  padding-right: 2rem;

  cursor: pointer;

  color: var(--color-darken);
  border-color: transparent;
  border-radius: var(--base-border-radius);
  background-color: transparent;

  appearance: none;
}

.BaseSelect__select:focus,
.BaseSelect__select:hover {
  border-bottom: 1px dotted var(--color-darken);
  outline: none;
}

.BaseSelect__description {
  padding-right: 1rem;
}

.BaseSelect__option {
  color: var(--color-darken);
  background-color: var(--color-primary-darken);
}
