.BaseSelect {
  display: flex;
}

.BaseSelect__select {
  position: relative;

  padding-right: 2rem;

  cursor: pointer;

  color: var(--color-darken);
  border-color: transparent;
  border-radius: var(--base-border-radius);
  background: url("../../icons/arrow.svg") no-repeat right;
  background-color: transparent;

  appearance: none;
}

.BaseSelect__select:focus,
.BaseSelect__select:hover {
  border-bottom: 1px dotted var(--color-darken);
  outline: none;
}

.BaseSelect__description {
  padding-right: 1rem;
}

.BaseSelect__option {
  color: var(--color-darken);
  background-color: var(--color-primary-darken);
}
