.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */

  min-height: 100vh;

  text-align: center;

  color: var(--color-darken);
  background-color: var(--color-background);
}

.App__header {
  width: 100%;
  min-height: 6rem;

  background-color: var(--color-primary-darken);

  font-size: calc(10px + 2vmin);
}

.App__main {
  font-weight: 300;
}

.App__footer {
  min-height: 10rem;

  background-color: var(--color-primary-darken);

  font-weight: 700;
}
