.SettingsForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 86rem;
  min-height: 50vh;
  padding: 1rem;

  border-radius: var(--base-border-radius);
  background-color: var(--color-primary);
}

.SettingsForm__description {
  padding-right: 1rem;
}

input.SettingsForm__input {
  display: block;

  padding: 0 0.5rem;

  color: var(--color-darken);
  border: none;
  outline: none;
  background-color: transparent;
}

.SettingsForm__input:hover,
.SettingsForm__input:focus {
  border-bottom: 1px dotted var(--color-darken);
  background-color: transparent;
}

.SettingsForm__preferencesElement {
  display: flex;
}

.SettingsForm__button {
  display: block;

  width: 100%;
  max-width: 40rem;
  height: 2em;
  margin: auto;

  cursor: pointer;

  color: var(--color-darken);
  border-radius: var(--base-border-radius);
  outline-color: var(--color-secondary);
  background-color: var(--color-secondary);
}
